{% extends 'base.html' %}
{% block outer %}
<div class="span-24 last">
    <div class="span-14 nice_box">
        <div class="span-13 prepend-top prepend-1">
            <h1>Fail early, fail often</h1>
            <p>Create a project.</p>
            <p>Get up and running</p>
            <p>Dev instance instantly</p>
            <p>Deploy to the cloud</p>
            <p>Automatic backup and reconfiguration</p>
            <p>Database-backed</p>
            <p>profit!</p>
        </div>
    </div>
    <div class="span-10 last nice_box">
        <div class="span-9 prepend-top prepend-1">
            <h1>SNEAK PREVIEW!</h1>
        </div>
    </div>
</div>
<div class="span-23 last footer prepend-top prepend-1">
    <div class="left">
        <span class="large">Get an early beta ceta eta invite: </span>
    </div>
    <div class="left">
    {% if not email_hash %}
        <form action="/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="submit" />
        </form>
    {% else %}
    <span>Congratulations, you are a winner! hash: {{ email_hash|urlencode }}</span>
    <div>
        <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{ email_hash|urlencode }}&choe=UTF-8" />
    </div>
    {% endif %}
    </div>
</div>
{% endblock outer %}
